body {
  background-color: #002b36;
  margin: 0px;
}

/* -------------------------------------------------------------------------- */

#query {
  box-sizing: border-box;

  background-color: #073642;
  color: #fdf6e3;

  border: 0px;
  outline: none;

  width: 100%;

  margin: 0px;
  padding-left: 16px;

  font-size: 12px;
  font-family: "Courier";
  line-height: 24px;
}

#error {
  box-sizing: border-box;

  background-color: #073642;
  color: #dc322f;

  width: 100%;

  margin: 0px;
  padding-left: 16px;

  font-size: 12px;
  font-family: "Courier";
  line-height: 24px;
}

/* -------------------------------------------------------------------------- */

#main {
  font-family: "Courier";
  font-size: 13px;
  line-height: 16px;
  padding-top: 8px;
}

#main .delimiter {
  border-bottom: 1px solid #586e75;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 12px;
}

#main .item {
  margin-top: 8px;
  clear: both;
  color: #fdf6e3;
}

#main .item.error {
  color: #dc322f;
}

#main .item.warning {
  color: #b58900;
}

#main .item.info {
  color: #268bd2;
}

#main .item .kv {
  display: inline-block;
  margin-left: 16px;
  width: 120px;
}

#main .item .kv.log-type {
  width: 120px;
}
