body {
  background-color: #002b36;
}

#main {
  font-family: "Courier";
  font-size: 13px;
  line-height: 16px;
  padding-top: 8px;
}

#main .item {
  margin-top: 8px;
  clear: both;
  color: #fdf6e3;
}

#main .item.error {
  color: #dc322f;
}

#main .item.warning {
  color: #b58900;
}

#main .item.info {
  color: #268bd2;
}

#main .item .kv {
  display: inline-block;
  margin-left: 16px;
}

#main .item .kv.log-type {
  width: 120px;
}
